Repository dohdalabs/ats-pdf-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-quality, shell-quality, markdown-quality

python-quality:
  name: Python Quality Checks
  entry: ./scripts/quality/check-python.sh
  language: system
  pass_filenames: true

shell-quality:
  name: Shell Quality Checks
  entry: ./scripts/quality/check-shell.sh
  language: system
  pass_filenames: true

markdown-quality:
  name: Markdown Quality Checks
  entry: ./scripts/quality/check-markdown.sh
  language: system
  pass_filenames: true

refactor: streamline task management in mise.toml
  mise.toml
Due: none

refactor: transition to just for CI and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: update pre-commit configuration for improved linting and validation
  .pre-commit-config.yaml
Due: none

chore: update justfile for markdown linting and remove package.json
  .github/workflows/ci.yml
  justfile
  package.json
  pnpm-lock.yaml
Due: none

chore: enhance CI workflow with dynamic version extraction
  .github/workflows/ci.yml
Due: none

chore: update justfile and CI workflow for improved dependency management
  .github/workflows/ci.yml
  justfile
Due: none

chore: clean up Dockerfile and .dockerignore for improved clarity
  .dockerignore
  docker/Dockerfile.alpine
  docker/Dockerfile.dev
  docker/Dockerfile.standard
Due: none

chore: update CI workflow to use mise-action v3 and streamline installation steps
  .github/workflows/ci.yml
Due: none

chore: upgrade setup-just action to v3 in CI and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: update mise-action version in CI workflow to 2025.10.6
  .github/workflows/ci.yml
Due: none

chore: enhance CI workflow and justfile for branch-specific Docker operations
  .github/workflows/ci.yml
  justfile
Due: none

chore: remove obsolete quality check scripts and CI utilities
  scripts/check-all.sh
  scripts/docker-manager.sh
  scripts/quality/check-docker.sh
  scripts/quality/check-markdown.sh
  scripts/quality/check-python.sh
  scripts/quality/check-security.sh
  scripts/quality/check-shell.sh
  scripts/utils/ci.sh
Due: shell-quality

fix: enable CI workflow for feature branches
  .github/workflows/ci.yml
Due: none

chore: restrict CI workflow to main branch only
  .github/workflows/ci.yml
Due: none

chore: update justfile and CI workflow for improved quality checks
  .github/workflows/ci.yml
  justfile
Due: none

refactor: simplify PDF conversion script by removing unused code and improving error handling
  scripts/convert-pdf.sh
Due: shell-quality

refactor: transition to just-based task runner for improved development workflow
  DEVELOPMENT.md
  README.md
  justfile
Due: markdown-quality

chore: remove version declaration from Docker Compose files
  docker/docker-compose.optimized.yml
  docker/docker-compose.yml
Due: none

refactor: enhance PDF conversion process and improve shell script logging
  justfile
  scripts/benchmark-security-tools.sh
  scripts/convert-pdf.sh
  scripts/extract-versions.sh
  scripts/setup-local-env.sh
  scripts/utils/common.sh
  scripts/utils/logging.sh
Due: shell-quality

chore: enhance CI workflow by adding secure download and checksum verification for hadolint
  .github/workflows/ci.yml
Due: none

chore: update CI workflow permissions and Docker image publishing
  .github/workflows/ci.yml
Due: none

chore: update hadolint installation process in CI workflow
  .github/workflows/ci.yml
Due: none

chore: remove logging of tool versions in extract-versions.sh
  scripts/extract-versions.sh
Due: shell-quality

chore: remove lockfile entries from .gitignore
  .gitignore
Due: none

chore: enhance security scanning and validation processes
  .github/workflows/ci.yml
  .trivyignore
  docker/Dockerfile.alpine
  docker/Dockerfile.dev
  docs/DOCKER_DISTRIBUTION.md
  justfile
  mise.toml
  scripts/benchmark-security-tools.sh
  scripts/extract-versions.sh
  scripts/setup-local-env.sh
  src/ats_pdf_generator/ats_converter.py
  tests/test_converter.py
Due: python-quality, shell-quality, markdown-quality

chore: update hadolint download commands in CI workflow
  .github/workflows/ci.yml
Due: none

chore: rename hadolint binary and checksum files in CI workflow
  .github/workflows/ci.yml
Due: none

chore: add new Docker commands to mise.toml
  mise.toml
Due: none

chore: update markdown and script standards for consistency
  .cursor/rules/markdown-standards.mdc
  .cursor/rules/mise-toml-standards.mdc
  .cursor/rules/script-standards.mdc
Due: none

chore: standardize hadolint binary naming in CI workflow
  .github/workflows/ci.yml
Due: none

chore: enhance security scanning and configuration management
  .github/workflows/ci.yml
  .trivyignore
  .trivyignore.yaml
  justfile
  scripts/extract-versions.sh
  scripts/setup-local-env.sh
Due: shell-quality

fix: improve input file validation in ats_converter
  src/ats_pdf_generator/ats_converter.py
  tests/test_converter.py
Due: python-quality

fix: simplify branch check logic in justfile
  justfile
Due: none

fix: improve precision in benchmark duration calculations
  scripts/benchmark-security-tools.sh
Due: shell-quality

fix: enhance Python detection and environment setup in local script
  scripts/setup-local-env.sh
Due: shell-quality

fix: enhance bullet point preprocessing and add type hints file
  pyproject.toml
  src/ats_pdf_generator/ats_converter.py
  src/ats_pdf_generator/py.typed
  tests/test_converter.py
Due: python-quality

fix: enhance version extraction logic in extract-versions.sh
  scripts/extract-versions.sh
Due: shell-quality

fix: streamline coreutils installation and PATH updates in setup-local-env.sh
  scripts/setup-local-env.sh
Due: shell-quality

fix: optimize pandoc command construction in ats_converter
  src/ats_pdf_generator/ats_converter.py
Due: python-quality

fix: refine version extraction logic in extract-versions.sh
  scripts/extract-versions.sh
Due: shell-quality

Path conditions:
  python-quality: any of: \.(py)$
  shell-quality: any of: \.(sh|bash)$
  markdown-quality: any of: \.md$
