Repository dohdalabs/ats-pdf-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, markdownlint, security-python

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict    # Check for files that would conflict in case-insensitive filesystems
      - id: check-docstring-first   # Check that docstrings are at the beginning of functions
      - id: check-json             # Check JSON syntax
      - id: check-toml             # Check TOML syntax

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.20.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: docker-validate
        name: docker validate
        entry: bash -c 'if command -v mise >/dev/null 2>&1; then mise exec -- just validate-dockerfiles; else just validate-dockerfiles; fi'
        language: system
        types: [dockerfile]
        pass_filenames: false

  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: bash -c 'if command -v mise >/dev/null 2>&1; then mise exec -- just lint-python; else just lint-python; fi'
        language: system
        types: [python]
        pass_filenames: false

      - id: ruff-format
        name: ruff format
        entry: bash -c 'if command -v mise >/dev/null 2>&1; then mise exec -- just format-python; else just format-python; fi'
        language: system
        types: [python]
        pass_filenames: false

      - id: shellcheck
        name: shellcheck
        entry: bash -c 'if command -v mise >/dev/null 2>&1; then mise exec -- just lint-shell; else just lint-shell; fi'
        language: system
        types: [shell]
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bash -c 'if command -v mise >/dev/null 2>&1; then mise exec -- just lint-markdown; else just lint-markdown; fi'
        language: system
        types: [markdown]
        pass_filenames: false

      - id: security-python
        name: security-python
        entry: bash -c 'if command -v mise >/dev/null 2>&1; then mise exec -- just security-python; else just security-python; fi'
        language: system
        types: [python]
        pass_filenames: false

docs: update README.md and add User Guide for ATS PDF Generator
  README.md
  docs/user-guide.md
Due: markdownlint

feat: enhance candidate experience by improving resume formatting
  PORTFOLIO.md
Due: markdownlint

docs: update DEVELOPMENT.md with enhanced security scanning details and justfile command improvements
  DEVELOPMENT.md
Due: markdownlint

docs: update sample profile and resume template for improved link formatting
  examples/sample-profile.md
  templates/resume-markdown-template.md
Due: markdownlint

refactor: streamline emoji validation logic in document processing
  src/ats_pdf_generator/validator.py
  tests/test_validator.py
Due: ruff-check, ruff-format, security-python

refactor: refine emoji and special character validation logic
  src/ats_pdf_generator/validator.py
  tests/test_validator.py
Due: ruff-check, ruff-format, security-python

fix: improve emoji validation in document processing
  src/ats_pdf_generator/validator.py
  tests/test_validator.py
Due: ruff-check, ruff-format, security-python

fix: update validation error message formatting in ATS converter
  src/ats_pdf_generator/ats_converter.py
Due: ruff-check, ruff-format, security-python

feat: add document type support in ATS PDF conversion
  justfile
Due: none

fix: standardize dash usage in test descriptions
  tests/test_validator.py
Due: ruff-check, ruff-format, security-python

feat: implement emoji and special character detection for ATS compatibility (#12)
  .gitignore
  .markdownlintignore
  .pre-commit-config.yaml
  DEVELOPMENT.md
  PORTFOLIO.md
  README.md
  docker/Dockerfile.alpine
  docker/Dockerfile.standard
  docs/specs/ats-safety-requirements.md
  docs/user-guide.md
  examples/sample-profile.md
  justfile
  src/ats_pdf_generator/ats_converter.py
  src/ats_pdf_generator/validator.py
  templates/ats-profile.css
  templates/resume-markdown-template.md
  tests/test_validator.py
Due: ruff-check, ruff-format, markdownlint, security-python

feat(justfile): streamline development commands
  justfile
Due: none

refactor(justfile): remove deprecated commands
  justfile
Due: none

perf(justfile): optimize ci command to avoid duplicate work
  justfile
Due: none

refactor(justfile): reorder validation commands for improved efficiency
  justfile
Due: none

feat(justfile): streamline development commands to reduce cognitive load (#29)
  justfile
Due: none

feat(validation): implement comprehensive ATS safety validation system
  src/ats_pdf_generator/ats_converter.py
  src/ats_pdf_generator/validator.py
  tests/test_documents/all_caps_sections.md
  tests/test_documents/comprehensive_violations.md
  tests/test_documents/creative_titles.md
  tests/test_documents/emoji_contact.md
  tests/test_documents/hidden_text.md
  tests/test_documents/keyword_stuffing.md
  tests/test_documents/non_standard_dates.md
  tests/test_documents/table_layout.md
  tests/test_validator.py
  validation_report.md
Due: ruff-check, ruff-format, markdownlint, security-python

refactor: focus validation on Issue #9 (Table Detection)
  src/ats_pdf_generator/validator.py
  tests/test_documents/html_table_test.md
  tests/test_validator.py
Due: ruff-check, ruff-format, markdownlint, security-python

chore: remove generated validation report and update .gitignore
  .gitignore
  validation_report.md
Due: markdownlint

feat(validation): implement Issue #8 contact information validation
  .markdownlint.jsonc
  src/ats_pdf_generator/validator.py
  tests/test_documents/.markdownlint.json
  tests/test_documents/emoji_contact.md
  tests/test_documents/obfuscated_contact.md
  tests/test_documents/proper_contact.md
  tests/test_documents/unlabeled_contact.md
  tests/test_validator.py
Due: ruff-check, ruff-format, markdownlint, security-python

feat: implement ATS safety validation system for document compatibility
  DEVELOPMENT.md
  docs/user-guide.md
  src/ats_pdf_generator/reporter.py
  src/ats_pdf_generator/types.py
  src/ats_pdf_generator/validator.py
  src/ats_pdf_generator/validator/__init__.py
  src/ats_pdf_generator/validator/contact_validator.py
  src/ats_pdf_generator/validator/validator.py
  tests/test_contact_validator.py
  tests/test_validator.py
Due: ruff-check, ruff-format, markdownlint, security-python

fix: correct indentation in contact_validator.py to ensure proper line processing
  src/ats_pdf_generator/validator/contact_validator.py
Due: ruff-check, ruff-format, security-python

refactor: reorganize validator module structure and enhance contact validation logic
  src/ats_pdf_generator/ats_converter.py
  src/ats_pdf_generator/validator.py
  src/ats_pdf_generator/validator/__init__.py
  src/ats_pdf_generator/validator/contact_validator.py
  tests/test_contact_validator.py
Due: ruff-check, ruff-format, security-python

refactor: simplify email label validation logic in ContactValidator
  src/ats_pdf_generator/validator/contact_validator.py
Due: ruff-check, ruff-format, security-python

fix: ensure output directory exists before saving markdown report
  src/ats_pdf_generator/reporter.py
  tests/test_contact_validator.py
Due: ruff-check, ruff-format, security-python

refactor: update violation messages for emoji and special character detection
  CHANGELOG.md
  src/ats_pdf_generator/validator/validator.py
  tests/test_validator.py
Due: ruff-check, ruff-format, markdownlint, security-python

refactor: rename types module and update imports for validation system
  DEVELOPMENT.md
  src/ats_pdf_generator/reporter.py
  src/ats_pdf_generator/validation_types.py
  src/ats_pdf_generator/validator/__init__.py
  src/ats_pdf_generator/validator/contact_validator.py
  src/ats_pdf_generator/validator/validator.py
Due: ruff-check, ruff-format, markdownlint, security-python

refactor: improve test_contact_validator.py by consolidating regex pattern checks
  tests/test_contact_validator.py
Due: ruff-check, ruff-format, security-python

refactor: introduce SeverityLevel enum for validation violations
  src/ats_pdf_generator/validation_types.py
  src/ats_pdf_generator/validator/contact_validator.py
  src/ats_pdf_generator/validator/validator.py
  tests/test_contact_validator.py
  tests/test_validator.py
Due: ruff-check, ruff-format, security-python

refactor: remove unused EMOJI_PATTERN import from validator module
  src/ats_pdf_generator/validator/__init__.py
Due: ruff-check, ruff-format, security-python

refactor: enhance test coverage for ContactValidator with additional tests
  tests/test_contact_validator.py
Due: ruff-check, ruff-format, security-python

refactor: correct regex pattern for email validation in ContactValidator
  src/ats_pdf_generator/validator/contact_validator.py
Due: ruff-check, ruff-format, security-python

refactor: update severity handling in markdown report generation
  src/ats_pdf_generator/reporter.py
Due: ruff-check, ruff-format, security-python

refactor: enhance validation functionality and reporting in ATS PDF Generator
  docs/user-guide.md
  src/ats_pdf_generator/ats_converter.py
  tests/test_converter.py
Due: ruff-check, ruff-format, markdownlint, security-python

refactor: centralize emoji pattern in ContactValidator for improved validation
  src/ats_pdf_generator/validator/contact_validator.py
Due: ruff-check, ruff-format, security-python

refactor: streamline phone number validation logic in ContactValidator
  src/ats_pdf_generator/validator/contact_validator.py
Due: ruff-check, ruff-format, security-python

refactor: improve URL pattern in ContactValidator for enhanced validation
  src/ats_pdf_generator/validator/contact_validator.py
Due: ruff-check, ruff-format, security-python

refactor: simplify phone label validation logic in ContactValidator
  src/ats_pdf_generator/validator/contact_validator.py
Due: ruff-check, ruff-format, security-python

refactor: update BARE_URL_PATTERN in ContactValidator for improved URL validation
  src/ats_pdf_generator/validator/contact_validator.py
Due: ruff-check, ruff-format, security-python

refactor: enhance URL validation in ContactValidator to enforce HTTPS usage
  src/ats_pdf_generator/validator/contact_validator.py
  src/ats_pdf_generator/validator/validator.py
  tests/test_contact_validator.py
  tests/test_validator.py
Due: ruff-check, ruff-format, security-python
