Repository dohdalabs/ats-pdf-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-quality, shell-quality, markdown-quality

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-toml

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.20.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: python-quality
        name: Python Quality Checks
        entry: ./scripts/quality/check-python.sh
        language: system
        files: \.(py)$
        pass_filenames: true

  - repo: local
    hooks:
      - id: shell-quality
        name: Shell Quality Checks
        entry: ./scripts/quality/check-shell.sh
        language: system
        files: \.(sh|bash)$
        pass_filenames: true

  - repo: local
    hooks:
      - id: markdown-quality
        name: Markdown Quality Checks
        entry: ./scripts/quality/check-markdown.sh
        language: system
        files: \.md$
        pass_filenames: true

  - repo: local
    hooks:
      - id: docker-quality
        name: Docker Quality Checks
        entry: ./scripts/quality/check-docker.sh
        language: system
        files: docker/Dockerfile
        pass_filenames: true
        stages: [manual]

chore: remove obsolete build and test scripts for Docker images
  scripts/build-all-images.sh
  scripts/build-and-test.sh
  scripts/build-dev-image.sh
  scripts/check-summary.sh
  scripts/generate-dockerfiles.sh
  scripts/test-docker-images.sh
  scripts/validate-dockerfiles.sh
Due: shell-quality

docs: enhance help documentation in setup-docker-auth.sh
  scripts/setup-docker-auth.sh
Due: shell-quality

chore: enhance check-markdown.sh with usage instructions and file handling improvements
  scripts/quality/check-markdown.sh
Due: shell-quality

chore: enhance check-python.sh with usage instructions and file handling improvements
  scripts/quality/check-python.sh
Due: shell-quality

chore: refactor Docker image management and streamline CI workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  DEVELOPMENT.md
  mise.toml
  scripts/docker-manager.sh
  scripts/publish-image.sh
  scripts/publish.sh
Due: shell-quality, markdown-quality

chore: remove setup-docker-auth.sh script and update mise.toml
  mise.toml
  scripts/setup-docker-auth.sh
Due: shell-quality

fix: add missing newline in test_converter.py for consistency
  tests/test_converter.py
Due: python-quality

chore: improve check-markdown.sh for specific file handling and execution modes
  scripts/quality/check-markdown.sh
Due: shell-quality

chore: enhance CI process documentation and improve script logging
  docs/CI_PROCESS_DOCUMENTATION.md
  scripts/benchmark-security-tools.sh
  scripts/convert-pdf.sh
  scripts/docker-manager.sh
  scripts/extract-versions.sh
  scripts/quality-check.sh
  scripts/quality/check-docker.sh
  scripts/quality/check-markdown.sh
  scripts/quality/check-python.sh
  scripts/quality/check-security.sh
  scripts/quality/check-shell.sh
  scripts/setup-local-env.sh
  scripts/utils/common.sh
Due: shell-quality, markdown-quality

chore: update logging initialization across multiple scripts
  scripts/benchmark-security-tools.sh
  scripts/convert-pdf.sh
  scripts/docker-manager.sh
  scripts/extract-versions.sh
  scripts/quality-check.sh
  scripts/quality/check-docker.sh
  scripts/quality/check-markdown.sh
  scripts/quality/check-python.sh
  scripts/quality/check-security.sh
  scripts/quality/check-shell.sh
  scripts/setup-local-env.sh
  scripts/utils/logging.sh
Due: shell-quality

chore: update hadolint version and streamline validation process
  mise.toml
  scripts/docker-manager.sh
Due: shell-quality

docs: update DEVELOPMENT.md with available scripts and usage details
  DEVELOPMENT.md
Due: markdown-quality

chore: update Dockerfile to improve error handling in shell commands
  docker/Dockerfile.alpine
Due: none

chore: pin versions of hadolint and trivy in CI workflow
  .github/workflows/ci.yml
Due: none

chore: enhance quality checks and CI workflow
  .github/workflows/ci.yml
  mise.toml
  scripts/quality-check.sh
  scripts/quality/check-python.sh
  scripts/quality/check-security.sh
Due: shell-quality

chore: enhance project configuration and quality check scripts
  .gitignore
  DEVELOPMENT.md
  docs/CI_PROCESS_DOCUMENTATION.md
  mise.toml
  package.json
  pnpm-lock.yaml
  scripts/check-all.sh
  scripts/quality/check-markdown.sh
  scripts/quality/check-python.sh
Due: shell-quality, markdown-quality

chore: update .dockerignore and CI workflow for improved project structure
  .dockerignore
  .github/workflows/ci.yml
Due: none

chore: update pnpm version in mise.toml for consistency
  mise.toml
Due: none

chore: update code quality and documentation standards
  .cursor/rules/code-quality.mdc
  .cursor/rules/markdown-standards.mdc
  .cursor/rules/mise-toml-standards.mdc
  .cursor/rules/python-standards.mdc
  .cursor/rules/script-standards.mdc
Due: none

docs: enhance documentation and error handling in ATS PDF Generator
  src/ats_pdf_generator/__init__.py
  src/ats_pdf_generator/ats_converter.py
  tests/__init__.py
  tests/test_converter.py
Due: python-quality

chore: update Python version requirements and coding standards
  .cursor/rules/python-standards.mdc
  pyproject.toml
  uv.lock
Due: none

chore: enhance docker-manager.sh with new publish options and tagging logic
  scripts/docker-manager.sh
Due: shell-quality

chore: update .gitignore for improved project cleanliness
  .gitignore
Due: none

fix: correct syntax in docker-manager.sh for error logging
  scripts/docker-manager.sh
Due: shell-quality

fix: improve shell script linting and error handling in check-all.sh
  scripts/check-all.sh
Due: shell-quality

fix: enhance error handling and testing in docker-manager.sh
  scripts/check-all.sh
  scripts/docker-manager.sh
Due: shell-quality

chore: refine project configuration and enhance error handling
  .cursor/rules/python-standards.mdc
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .trivyignore
  .trivyignore.yaml
  DEVELOPMENT.md
  docker/Dockerfile.dev
  mise.toml
  package.json
  pyproject.toml
  scripts/check-all.sh
  scripts/convert-pdf.sh
  scripts/quality/check-docker.sh
  scripts/quality/check-markdown.sh
  scripts/quality/check-security.sh
  scripts/utils/ci.sh
  scripts/utils/common.sh
  scripts/utils/logging.sh
  src/ats_pdf_generator/ats_converter.py
  tests/test_converter.py
  uv.lock
Due: python-quality, shell-quality, markdown-quality

fix: update hadolint installation in CI workflow
  .github/workflows/ci.yml
Due: none

fix: enhance shell error handling in Dockerfile for Alpine
  docker/Dockerfile.alpine
Due: none

fix: improve CI workflow for shellcheck installation
  .github/workflows/ci.yml
Due: none

feat: add input validation functionality and corresponding error handling
  src/ats_pdf_generator/__init__.py
  src/ats_pdf_generator/ats_converter.py
  tests/test_converter.py
Due: python-quality

refactor: update markdown standards for clarity and consistency
  .cursor/rules/markdown-standards.mdc
Due: none

refactor: enhance script functionality and error handling
  CHANGELOG.md
  scripts/check-all.sh
  scripts/docker-manager.sh
  scripts/extract-versions.sh
  scripts/quality/check-markdown.sh
  scripts/quality/check-security.sh
  scripts/setup-local-env.sh
  scripts/utils/common.sh
  src/ats_pdf_generator/ats_converter.py
  tests/test_converter.py
Due: python-quality, shell-quality, markdown-quality

refactor: enhance SARIF file validation in CI workflow
  .github/workflows/ci.yml
Due: none

refactor: update docker build context handling in docker-manager.sh
  scripts/docker-manager.sh
Due: shell-quality

fix: enhance input validation in convert-pdf.sh
  scripts/convert-pdf.sh
Due: shell-quality

fix: refine path validation in convert-pdf.sh
  scripts/convert-pdf.sh
Due: shell-quality

refactor: improve script directory retrieval in common.sh
  scripts/utils/common.sh
Due: shell-quality

refactor: update markdown file glob patterns for consistency
  .cursor/rules/markdown-standards.mdc
Due: none

feat: add justfile for task automation and enhance security scanning
  .gitignore
  justfile
  mise.toml
Due: none
