Repository dohdalabs/ats-pdf-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-quality, shell-quality, markdown-quality

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-toml

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.20.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: python-quality
        name: Python Quality Checks
        entry: ./scripts/quality/check-python.sh
        language: system
        files: \.(py)$
        pass_filenames: true

  - repo: local
    hooks:
      - id: shell-quality
        name: Shell Quality Checks
        entry: ./scripts/quality/check-shell.sh
        language: system
        files: \.(sh|bash)$
        pass_filenames: true

  - repo: local
    hooks:
      - id: markdown-quality
        name: Markdown Quality Checks
        entry: ./scripts/quality/check-markdown.sh
        language: system
        files: \.md$
        pass_filenames: true

  - repo: local
    hooks:
      - id: docker-quality
        name: Docker Quality Checks
        entry: ./scripts/quality/check-docker.sh
        language: system
        files: docker/Dockerfile
        pass_filenames: true
        stages: [manual]

fix: update CI workflow to enable caching for uv dependencies
  .github/workflows/ci.yml
Due: none

feat: add CLI entrypoint for user-friendly error handling
  src/ats_pdf_generator/__init__.py
  src/ats_pdf_generator/ats_converter.py
  tests/test_converter.py
Due: python-quality

fix: enhance version extraction logic in extract-versions.sh
  scripts/extract-versions.sh
Due: shell-quality

refactor: update Python standards and guidelines in python-standards.mdc
  .cursor/rules/python-standards.mdc
Due: none

fix: improve markdown file detection to be case-insensitive
  src/ats_pdf_generator/ats_converter.py
  tests/test_converter.py
Due: python-quality

fix: update temporary file naming in ats_converter for unique identification
  src/ats_pdf_generator/ats_converter.py
Due: python-quality

fix: improve CSS file determination for underscore and mixed separators
  src/ats_pdf_generator/ats_converter.py
  tests/test_converter.py
Due: python-quality

chore: update issue and pull request templates for clarity and structure
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: markdown-quality

fix: improve input file validation for permission errors
  tests/test_converter.py
Due: python-quality

chore: update markdownlintignore and issue template for consistency
  .github/ISSUE_TEMPLATE.md
  .markdownlintignore
Due: markdown-quality

refactor: enhance error handling in install script
  install.sh
Due: shell-quality

refactor: improve output directory handling and command execution in benchmark script
  scripts/benchmark-security-tools.sh
Due: shell-quality

refactor: enhance input validation and help message in install script
  install.sh
Due: shell-quality

refactor: enhance input validation and command execution in benchmark script
  scripts/benchmark-security-tools.sh
Due: shell-quality

feat: add docstring coverage and security checks to Python quality process
  justfile
  pyproject.toml
  uv.lock
Due: none

refactor: streamline security scan process and update documentation
  justfile
Due: none

refactor: streamline Docker command execution in justfile
  justfile
Due: none

feat: enhance PDF generation process in justfile
  justfile
Due: none

refactor: enhance shell script linting process in justfile
  justfile
  scripts/setup-local-env.sh
Due: shell-quality

docs: update CI process documentation to reflect current 3-job pipeline
  docs/CI_PROCESS_DOCUMENTATION.md
Due: markdown-quality

docs: revise markdown standards for clarity and compliance
  .cursor/rules/markdown-standards.mdc
Due: none

docs: update DEVELOPMENT.md and Justfile for command consistency and clarity
  .github/workflows/ci.yml
  DEVELOPMENT.md
  docs/CI_PROCESS_DOCUMENTATION.md
  docs/ci-architecture.md
  justfile
Due: markdown-quality

docs: update DEVELOPMENT.md and remove optimized Docker Compose file
  DEVELOPMENT.md
  docker/docker-compose.optimized.yml
Due: markdown-quality

docs: add .gitignore and Justfile standards for task organization
  .cursor/rules/.gitignore
  .cursor/rules/justfile-standards.mdc
Due: none

fix(justfile): correct default recipe to call help-custom recipe
  justfile
Due: none

docs: update DEVELOPMENT.md and Justfile for command clarity and consistency
  DEVELOPMENT.md
  justfile
Due: markdown-quality

chore: update pre-commit configuration and remove obsolete skip help file
  .pre-commit-config.yaml
  .pre-commit-shell-skip-help.txt
Due: none

feat(justfile): add security scanning commands to enhance code safety
  justfile
Due: none

refactor: update type hints in ats_converter.py for improved clarity
  src/ats_pdf_generator/ats_converter.py
  tests/test_converter.py
Due: python-quality

refactor: enhance error handling in ats-document-converter.sh
  src/ats_pdf_generator/ats-document-converter.sh
Due: shell-quality

chore: add Click dependency to project configuration
  pyproject.toml
  uv.lock
Due: none

chore: update CI workflow to enhance caching and directory setup
  .github/workflows/ci.yml
Due: none

chore: update CI workflow to use latest setup-uv version and enhance caching
  .github/workflows/ci.yml
Due: none

refactor: enhance input handling in ats-document-converter.sh
  src/ats_pdf_generator/ats-document-converter.sh
Due: shell-quality

chore: simplify CI workflow by removing unnecessary cache configurations
  .github/workflows/ci.yml
Due: none

docs: update README with corrected CI badge link
  README.md
Due: markdown-quality

chore: disable caching in CI workflow for setup-uv
  .github/workflows/ci.yml
Due: none

docs: remove outdated CI execution command from architecture documentation
  docs/ci-architecture.md
Due: markdown-quality

test: add comprehensive tests for fallback CSS creation scenarios
  tests/test_converter.py
Due: python-quality
