Repository dohdalabs/ats-pdf-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-quality, shell-quality, markdown-quality

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-toml

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.20.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: python-quality
        name: Python Quality Checks
        entry: ./scripts/quality/check-python.sh
        language: system
        files: \.(py)$
        pass_filenames: true

  - repo: local
    hooks:
      - id: shell-quality
        name: Shell Quality Checks
        entry: ./scripts/quality/check-shell.sh
        language: system
        files: \.(sh|bash)$
        pass_filenames: true

  - repo: local
    hooks:
      - id: markdown-quality
        name: Markdown Quality Checks
        entry: ./scripts/quality/check-markdown.sh
        language: system
        files: \.md$
        pass_filenames: true

  - repo: local
    hooks:
      - id: docker-quality
        name: Docker Quality Checks
        entry: ./scripts/quality/check-docker.sh
        language: system
        files: docker/Dockerfile
        pass_filenames: true
        stages: [manual]

chore: add NODE_OPTIONS to CI workflow for improved deprecation tracing
  .github/workflows/ci.yml
Due: none

chore: reintroduce NODE_OPTIONS for deprecation tracing in CI jobs
  .github/workflows/ci.yml
Due: none

chore: update setup-uv action to version 7.1.0 and remove NODE_OPTIONS from CI jobs
  .github/workflows/ci.yml
Due: none

chore: remove help validation skip list and enhance portfolio documentation
  .pre-commit-shell-skip-help.txt
  PORTFOLIO.md
Due: markdown-quality

feat: Refactor CLI with Click, enhance testing, and improve CI/CD pipeline (#6)
  .cursor/rules/.gitignore
  .cursor/rules/justfile-standards.mdc
  .cursor/rules/markdown-standards.mdc
  .github/workflows/ci.yml
  .pre-commit-shell-skip-help.txt
  DEVELOPMENT.md
  PORTFOLIO.md
  README.md
  docker/docker-compose.optimized.yml
  docs/CI_PROCESS_DOCUMENTATION.md
  docs/ci-architecture.md
  justfile
  pyproject.toml
  src/ats_pdf_generator/__init__.py
  src/ats_pdf_generator/ats-document-converter.sh
  src/ats_pdf_generator/ats_converter.py
  tests/test_converter.py
  uv.lock
Due: python-quality, shell-quality, markdown-quality

chore: update .gitignore and Justfile for improved task management
  .gitignore
  justfile
Due: none

feat: enhance justfile automation, add security scanning, and improve development workflow (#5)
  .gitignore
  .pre-commit-config.yaml
  DEVELOPMENT.md
  justfile
Due: markdown-quality

fix: update pre-commit hook for Dockerfile validation
  .pre-commit-config.yaml
Due: none

feat: update Dockerfile to include PYTHONPATH and refactor file structure
  docker/Dockerfile.alpine
  docker/Dockerfile.standard
Due: none

feat: enhance ATS validation and documentation
  .gitignore
  .markdownlintignore
  docs/specs/ats-safety-requirements.md
  examples/sample-profile.md
  src/ats_pdf_generator/ats_converter.py
  src/ats_pdf_generator/validator.py
  templates/ats-profile.css
  templates/resume-markdown-template.md
  tests/test_validator.py
Due: python-quality, markdown-quality

feat: enhance Markdown to PDF conversion process in justfile
  justfile
Due: none

docs: update DEVELOPMENT.md with enhanced security scanning details and justfile command improvements
  DEVELOPMENT.md
Due: markdown-quality

feat: enhance candidate experience by improving resume formatting
  PORTFOLIO.md
Due: markdown-quality

docs: update README.md and add User Guide for ATS PDF Generator
  README.md
  docs/user-guide.md
Due: markdown-quality

fix: improve emoji validation in document processing
  src/ats_pdf_generator/validator.py
  tests/test_validator.py
Due: python-quality

refactor: streamline emoji validation logic in document processing
  src/ats_pdf_generator/validator.py
  tests/test_validator.py
Due: python-quality

refactor: refine emoji and special character validation logic
  src/ats_pdf_generator/validator.py
  tests/test_validator.py
Due: python-quality

docs: update sample profile and resume template for improved link formatting
  examples/sample-profile.md
  templates/resume-markdown-template.md
Due: markdown-quality

fix: improve error handling in justfile for file operations
  justfile
Due: none

fix: update validation error message formatting in ATS converter
  src/ats_pdf_generator/ats_converter.py
Due: python-quality

refactor: remove cloud storage logic from emoji validation branch
  justfile
Due: none

feat(ci): add merge queue support to GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

feat(ci): add merge queue support to GitHub Actions workflow (#16)
  .github/workflows/ci.yml
Due: none

fix: improve handling of temporary directories for cloud storage in Docker conversion
  justfile
Due: none

feat: add cloud storage compatibility for Docker PDF conversion
  justfile
Due: none

fix: improve file ownership handling in Docker conversion process
  justfile
Due: none

fix: enhance Docker file ownership handling for cross-platform compatibility
  justfile
Due: none

fix: enhance input directory copying in Docker conversion process
  justfile
Due: none

fix: enhance file ownership handling in Docker conversion process
  justfile
Due: none

fix: enhance error handling and verification for directory copying in Docker conversion process
  justfile
Due: none

fix: refine file ownership adjustment logic in Docker conversion process
  justfile
Due: none

fix: improve PDF movement handling in Docker conversion process
  justfile
Due: none

fix: improve temporary directory cleanup and rsync usage in Docker conversion
  justfile
Due: none

fix: improve cloud storage path detection for Docker conversion process
  justfile
Due: none

fix: improve cross-platform user flag handling in Docker conversion process
  justfile
Due: none

feat(docker): add comprehensive cloud storage compatibility and cross-platform improvements
  justfile
Due: none

revert(ci): remove merge queue changes from Docker improvements branch
  .github/workflows/ci.yml
Due: none

fix: simplify user flag handling in Docker conversion process
  justfile
Due: none

fix: streamline Docker run command for cross-platform compatibility
  justfile
Due: none

docs: add merge queue and commit message best practices
  DEVELOPMENT.md
Due: markdown-quality
