Repository dohdalabs/ats-pdf-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, markdownlint, security-python

ruff-check:
  name: ruff check
  entry: bash -c 'if command -v mise >/dev/null 2>&1; then mise exec -- just lint-python; else just lint-python; fi'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: bash -c 'if command -v mise >/dev/null 2>&1; then mise exec -- just format-python; else just format-python; fi'
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bash -c 'if command -v mise >/dev/null 2>&1; then mise exec -- just lint-markdown; else just lint-markdown; fi'
  language: system
  pass_filenames: false

security-python:
  name: security-python
  entry: bash -c 'if command -v mise >/dev/null 2>&1; then mise exec -- just security-python; else just security-python; fi'
  language: system
  pass_filenames: false

refactor: reorder exports in validator module for improved clarity
  src/ats_pdf_generator/validator/__init__.py
Due: ruff-check, ruff-format, security-python

refactor: add SeverityLevel to exports in validator module
  src/ats_pdf_generator/validator/__init__.py
Due: ruff-check, ruff-format, security-python

refactor: enhance validation and reporting in ATS PDF Generator
  DEVELOPMENT.md
  docs/user-guide.md
  src/ats_pdf_generator/ats_converter.py
  src/ats_pdf_generator/validation_types.py
  tests/test_validator.py
Due: ruff-check, ruff-format, markdownlint, security-python

feat: implement contact information formatting validation (#33)
  CHANGELOG.md
  DEVELOPMENT.md
  docs/user-guide.md
  src/ats_pdf_generator/ats_converter.py
  src/ats_pdf_generator/reporter.py
  src/ats_pdf_generator/validation_types.py
  src/ats_pdf_generator/validator/__init__.py
  src/ats_pdf_generator/validator/contact_validator.py
  src/ats_pdf_generator/validator/validator.py
  tests/test_contact_validator.py
  tests/test_converter.py
  tests/test_validator.py
Due: ruff-check, ruff-format, markdownlint, security-python

feat: enhance URL validation to exclude email domains
  src/ats_pdf_generator/validator/contact_validator.py
Due: ruff-check, ruff-format, security-python

feat: enhance phone number validation to detect year ranges
  src/ats_pdf_generator/validator/contact_validator.py
Due: ruff-check, ruff-format, security-python

fix: update markdownlint command options in justfile
  justfile
Due: none

refactor: update development workflow commands for clarity and consistency
  .cursor/rules/development-workflow.mdc
Due: none

feat: add year range detection to contact validation
  src/ats_pdf_generator/validator/contact_validator.py
  tests/test_contact_validator.py
Due: ruff-check, ruff-format, security-python

refactor: rename Docker validation commands for consistency
  .cursor/rules/development-workflow.mdc
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  docs/ci-architecture.md
  justfile
Due: markdownlint

feat: enhance contact validation with detailed formatting checks
  src/ats_pdf_generator/validator/contact_validator.py
Due: ruff-check, ruff-format, security-python

fix: update year range validation logic in tests
  tests/test_contact_validator.py
Due: ruff-check, ruff-format, security-python

feat: add test for year range detection with trailing whitespace
  tests/test_contact_validator.py
Due: ruff-check, ruff-format, security-python

fix: correct end position check in contact validation logic
  src/ats_pdf_generator/validator/contact_validator.py
Due: ruff-check, ruff-format, security-python

fix: improve contact validation accuracy by reducing false positives (#36)
  .cursor/rules/development-workflow.mdc
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  docs/ci-architecture.md
  justfile
  src/ats_pdf_generator/validator/contact_validator.py
  tests/test_contact_validator.py
Due: ruff-check, ruff-format, markdownlint, security-python

refactor: replace markdownlint with rumdl for markdown linting and formatting
  .cursor/rules/markdown-standards.mdc
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  .rumdl.toml
  docs/ci-architecture.md
  docs/user-guide.md
  justfile
  mise.toml
  pyproject.toml
  scripts/extract-versions.sh
Due: markdownlint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  markdownlint: any of: \.(md|markdown|mdown)$
  security-python: any of: \.py$
